AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

# А как это правило работает, с тире которое? O_o
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]