#intro td, #results td {
    padding: 0;
    margin: 0;
}

#intro td.theme {
    text-align: center;
    font: 2.3em Georgia;
    padding-bottom: 0.5em;
}

#intro td.label, #results td.label {
    text-align: right;
    line-height: 1.7em;
    padding-right: 0.5em;
}

#status, #questions, #results {
    margin-top: 1.7em;
}

.exam-container {
    margin-bottom: 1.5em;
}

.exam-question {
    margin-bottom: 0.5em;
}

.exam-answer-container td {
    padding: 0.5em 0 0 0;
}

td.exam-radio-td {
    vertical-align: top;
    padding-right: 0.3em;
}

td.exam-label-td {
    padding-top: 0.7em;
}

.exam-question pre, .exam-label-td pre {
    font: 1em "Courier New";
}
